
h1{color: #66BFBF;
font-size: 2rem;
font-family: sans-serif;
}

h2{
  color: #66BFBF;
  font-size: 2rem;
  font-family: sans-serif;
}
hr{
  border-style: none;
    border-top-style: solid;
    border-color: grey;
    width:100%;

}
ul{
  color: black;
  font-size: 1rem;
  font-family: sans-serif;
}
.table{
  color: black;
  font-size: 1rem;
  font-family: sans-serif;
  margin:  0 0 10px;
}
p{
  color: black;
  font-size: 1rem;
  font-family: sans-serif;
}
.div{
position:relative;
}

a:hover{
  color: grey;
}
